.list {
  list-style: none;
  padding: 0;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 15px auto;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}